html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.56;
  text-align: center;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1470px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  max-width: 1440px;
  margin: 0 auto;
}

button {
  width: 260px;
  height: 52px;
}

/* ----- header ----- */
.header {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.header-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  /* margin: 0 auto; */
  padding: 0 45px;
  background-color: rgba(255, 255, 255, 0.42);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 0;
}

.header-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;

}

.header-item {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.15;
}

.header-item-left-link {
  padding: 26px 0;
  color: #000;
  transition: color 250ms ease-in-out;
}

.header-item-left-link:hover,
.header-item-right-link:hover {
  color: #fff;
}

.header-nav-logo {
  width: 109px;
  height: 28px;

}

.header-item-right-link {
  padding: 26px 0;
  color: #000;
  transition: color 250ms ease-in-out;
}

.header-item-right-link-img {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 0;
  width: 32px;
  height: 29px;
}

/* ----- hero -----*/
.hero {
  background-image: url(../img/Rectangle.jpg);
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
  color: #ffffff;
  margin: 0 auto;
}

.hero-container {
  padding: 180px 0 360px 115px;
}

.hero-title {
  font-weight: 700;
  font-size: 55px;
  line-height: 1.09;
  color: #fff;
  text-align: left;
  width: 320px;
  margin-bottom: 24px;
}

.hero-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
  width: 260px;
  text-align: left;
  margin-bottom: 24px;
}

.hero-button {
  border: 2px solid #000;
  border-radius: 2px;
  /* width: 260px;
  height: 52px; */
  background-color: #000;
  padding: 18px 110px 18px 110px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.06;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  display: block;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out,
    border 250ms ease-in-out;
}

.hero-button:hover {
  color: #005466;
  background-color: #f6f9e5;
  border: 2px solid #f7d8bf;
}

/* ----- mentalgame -----*/
.mentalgame {
  padding-top: 308px;
  position: relative;
  margin: 0 auto;
}

.mentalgame-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.14;
  text-align: center;
  color: #000;
  margin-bottom: 25px;
}

.mentalgame-title::before {
  content: "";
  display: block;
  width: 1440px;
  height: 189px;
  background-color: #f0faf7;
  position: absolute;
  top: 0;
  left: 0;
}

.mentalgame-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.56;
  text-align: center;
  color: #000;
  width: 635px;
  margin: 0 auto 14px;
}

.mentalgame-box-img {
  margin: 0 auto;
}

/* ----- function ----- */
.function {
  padding: 48px 0 82px;
}

.function-container {
  width: 918px;
}

.function-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.14;
  text-align: center;
  color: #000;
  margin-bottom: 20px;
}

.function-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.15;
  text-align: center;
  color: #000;
  margin-bottom: 46px;
}

.function-list {
  display: flex;
  gap: 24px;
  justify-content: center;

}

.function-item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0 37px;
}

.function-item {
  /* width: 290px;
  height: 250px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  /* padding: 40px 54px 48px; */
}

.function-item-one {
  background-color: #005466;
}

.function-item-two {
  background-color: #f7d8bf;
}

.function-item-three {
  background-color: #f1faf6;
}

.function-item-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
  margin-bottom: 42px;
}

.function-item-subtitle-one {
  color: #f6f9e5;
}

.function-item-subtitle-two {
  color: #c47b59;
}

.function-item-subtitle-three {
  color: #64baa1;
}

.function-item-img-one {
  width: 30px;
  height: 30px;
}

.function-item-img-two {
  width: 32px;
  height: 30px;
}

.function-item-img-three {
  width: 68px;
  height: 30px;
}

.function-item-btn {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  margin: 0 54px 48px 54px;
  border: 2px solid #000;
  width: 182px;
  height: 36px;
  background-color: #fff;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out, border 250ms ease-in-out;
}

.function-item-btn:hover {
  color: #005466;
  background-color: #f6f9e5;
  border: 2px solid #f7d8bf;
}

/* ----- energy -----*/

.energy {
  background-image: url(../img/energy-bg.jpg);
  background-repeat: no-repeat;

}

.energy-container {
  display: flex;
  justify-content: space-between;
}

.energy-box-img {
  flex-shrink: 0;
  position: relative;
  margin-top: 184px;
  padding-left: 15px;
}

.energy-box-img-image {
  width: 822px;
  /* height: 822px; */
}

.energy-text-box {
  padding-right: 94px;
  padding-top: 416px;
  padding-bottom: 354px;
}

.energy-text-title {
  font-weight: 400;
  font-size: 55px;
  line-height: 1.14;
  color: #f6f9e5;
  width: 200px;
  text-align: left;
  margin-bottom: 25px;
}

.energy-text-holder {
  display: flex;
  align-items: center;
}

.energy-text-box-text {
  font-weight: 400;
  font-size: 19px;
  line-height: 1.57895;
  color: #f6f9e5;
  width: 406px;
  text-align: left;
  margin-bottom: 25px;
}

.energy-checkbox-container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 10px;
  margin-bottom: 38px;
}

.energy-checkbox-form-blue {
  display: flex;
  width: 20px;
  height: 20px;
  color: #000;
  border: 1px solid #fff;
  background-color: #13c0d7;
  align-items: center;
}

.energy-checkbox-span-blue {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  fill: transparent;
  flex-shrink: 0;
}

.energy-checkbox-span-svg-blue {
  display: block;
}

.energy-checkbox-span-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f6f9e5;
  text-align: left;
  display: block;
}

input:checked+.energy-checkbox-form-blue>.energy-checkbox-span-blue {
  fill: #f6f9e5;
}

.energy-checkbox-form-blue .energy-checkbox-span-blue {
  order: 1;
}

.energy-checkbox-form-red {
  display: flex;
  width: 20px;
  height: 20px;
  color: #000;
  border: 1px solid #fff;
  background-color: #d53f23;
  align-items: center;
}

.energy-checkbox-span-red {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  fill: transparent;
  flex-shrink: 0;
}

.energy-checkbox-span-svg-red {
  display: block;
}

.energy-checkbox-form-red .energy-checkbox-span-red {
  order: 1;
}

input:checked+.energy-checkbox-form-red>.energy-checkbox-span-red {
  fill: #f6f9e5;
}


.energy-button {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.06;
  text-transform: uppercase;
  text-align: center;
  color: #f6f9e5;
  background-color: transparent;

  border: 2px solid #f6f9e5;
  border-radius: 2px;
  width: 260px;
  height: 52px;
  display: block;
  transition: border 250ms ease-in-out,
    color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.energy-button:hover {
  border: 2px solid #f7d8bf;
  color: #005466;
  background-color: #f6f9e5;
}

/* ----- calm -----*/

.calm {
  background-image: url(../img/calm-bg.png);
  background-repeat: no-repeat;
  margin-top: -126px;
}

.calm-container {
  display: flex;
  justify-content: space-between;
}

.calm-text-box {
  padding: 416px 0 354px 94px;
  flex-shrink: 0;
}

.calm-text-title {
  font-weight: 400;
  font-size: 55px;
  line-height: 1.14;
  color: #c47b59;
  width: 220px;
  text-align: left;
}

.calm-text-holder {
  margin-bottom: 25px;
}

.calm-text-box-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #c47b59;
  margin-bottom: 25px;
  text-align: left;
  width: 428px;
}

.calm-checkbox-container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 10px;
  margin-bottom: 38px;
}

.calm-checkbox-form-grey {
  display: flex;
  width: 20px;
  height: 20px;
  color: #000;
  border: 1px solid #fff;
  background-color: #c47b59;
  align-items: center;
}

.calm-checkbox-span-grey {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  fill: transparent;
  flex-shrink: 0;
}

.calm-checkbox-span-svg-grey {
  display: block;
}

.calm-checkbox-span-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f6f9e5;
  text-align: left;
  display: block;
}

input:checked+.calm-checkbox-form-grey>.calm-checkbox-span-grey {
  fill: #f6f9e5;
}

.calm-checkbox-form-grey .calm-checkbox-span-grey {
  order: 1;
}

.calm-checkbox-form-orange {
  display: flex;
  width: 20px;
  height: 20px;
  color: #000;
  border: 1px solid #fff;
  background-color: #ef9632;
  align-items: center;
}

.calm-checkbox-span-orange {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  fill: transparent;
  flex-shrink: 0;
}

.calm-checkbox-span-svg-orange {
  display: block;
}

.calm-checkbox-form-orange .calm-checkbox-span-orange {
  order: 1;
}

input:checked+.calm-checkbox-form-orange>.calm-checkbox-span-orange {
  fill: #f6f9e5;
}

.calm-checkbox-span-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #c47b59;
}

.calm-button {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.06;
  text-transform: uppercase;
  text-align: center;
  color: #c47b59;
  border: 2px solid #c47b59;
  border-radius: 2px;
  width: 260px;
  height: 52px;
  background-color: transparent;
  transition: 250ms ease-in-out;
  display: block;
}

.calm-button:hover {
  color: #005466;
  border: 2px solid #f7d8bf;
  background-color: #f6f9e5;
}

.calm-box-img {
  flex-shrink: 0;
  margin-top: 192px;
  padding-right: 31px;
}

.calm-box-img-image {
  width: 822px;
}

/* ----- theideal -----*/

.theideal-container {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.theideal-box-img {
  display: flex;
  flex-shrink: 0;
  padding: 166px 160px 190px 64px;
}

.theideal-box-desc {
  width: 420px;
  padding-top: 262px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.theideal-desc-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.13;
  color: #000;
  text-align: left;
}

.theideal-desc-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000;
  text-align: left;
  width: 418px;
}

.theideal-desc-btn {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.06;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  padding: 15px 79px 22px;
  display: block;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 2px;
  transition: background-color 250ms ease-in-out,
    border 250ms ease-in-out, color 250ms ease-in-out;
}

.theideal-desc-btn:hover {
  background-color: #f6f9e5;
  border: 2px solid #f7d8bf;
  color: #005466;
}

/* ----- inthezone -----*/
.inthezone {
  background-color: #f1faf6;
}

.inthezone-container {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.inthezone-box-img {
  margin: 167px 140px 190px 64px;
  width: 492px;
}

.inthezone-desc {
  width: 440px;
  margin: 294px 64px 0 0;
  display: flex;
  gap: 25px;
  flex-direction: column;
}

.inthezone-desc-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.13;
  color: #000;
  text-align: left;
}

.inthezone-desc-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000;
  text-align: left;
}

.inthezone-desc-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.06;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  border: 2px solid #000;
  border-radius: 2px;
  padding: 15px 77px 22px 78px;
  background-color: transparent;
  display: block;
  transition: background-color 250ms ease-in-out, border 250ms ease-in-out, color 250ms ease-in-out;
}

.inthezone-desc-btn:hover {
  background-color: #f6f9e5;
  border: 2px solid #f7d8bf;
  color: #005466;
}

/* ----- ourmission -----*/

.ourmission {
  background-color: #fcf2f0;
}

.ourmission-container {
  width: 1200px;
  display: flex;
  position: relative;
  justify-content: right;
}

.ourmission-box-img {
  position: absolute;
  left: -120px;
  bottom: -36px;
  width: 720px;
  height: 599px;
  flex-shrink: 0;
}

.ourmission-desc {
  padding: 248px 0 248px 0;
  width: 440px;
}

.ourmission-desc-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.13;
  color: #000;
  text-align: left;
  margin-bottom: 24px;
}

.ourmission-desc-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000;
  text-align: left;
  margin-bottom: 21px;
}

.ourmission-desc-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.06;
  text-transform: uppercase;
  color: #000;
  width: 121px;
  border-bottom: 2px solid #000;
  display: block;
  text-align: left;
  padding-bottom: 11px;
  transition: border-bottom 250ms ease-in-out, color 250ms ease-in-out;
}

.ourmission-desc-link:hover {
  border-bottom: 2px solid #005466;
  color: #005466;
}

/* ----- science -----*/

.science {
  background-image: url(../img/science-bg.png);
  background-repeat: no-repeat;
  margin-top: -78px;
  position: relative;
}

.science-container {
  width: 1200px;
  display: flex;
}

.science-desc {
  padding: 295px 0 190px 0;
  text-align: left;
}

.science-desc-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.13;
  color: #fff;
  width: 308px;
  margin-bottom: 22px;
}

.science-desc-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
  width: 440px;
  margin-bottom: 21px;
}

.science-desc-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.06;
  text-transform: uppercase;
  color: #0a644a;
  border-bottom: 2px solid #0a644a;
  width: 150px;
  padding-bottom: 11px;
  display: block;
}

.science-desc-link:hover {
  border-bottom: 2px solid #005466;
  color: #005466;
}

.science-img-box {
  position: absolute;
  right: 0;
  bottom: 4px;
}

/* ----- doingmore -----*/

.doingmore-container {
  padding: 119px 0 160px 0;
}

.doingmore-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.13;
  text-align: center;
  color: #000;
  margin-bottom: 22px;
}

.doingmore-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #000;
}

.doingmore-text-span {
  font-weight: 400;
  font-size: 19px;
  line-height: 1.57895;
  text-align: center;
  color: #000;
}

/* ----- refresh ----- */
.refresh {
  background-image: url(../img/refresh-bg.jpg);
  background-repeat: no-repeat;
}

.refresh-container {
  padding: 180px 0 320px 115px;
}

.refresh-title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 55px;
  line-height: 1.09;
  color: #fff;
  text-align: left;
  margin-bottom: 30px;
}

.refresh-btn {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.06;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  display: block;
  padding: 16px 77px 21px 77px;
  border: 2px solid #000;
  border-radius: 2px;
  background-color: #000;
}